<div class="section-3-upgrades">
    <h2>Delorean Upgrades</h2>     
    <div class="upgrades">
        <div class="upgrade-option">
            <div class="inner-option-div">
                <img src="images/upgrades/flux-cap.png" alt="flux capaciter">
            </div>
            <a href="https://www.oreillyauto.com/flux-capacitor" target="_blank" class="option-link">Flux Capacitor</a>
        </div>
        <div class="upgrade-option">
            <div class="inner-option-div">
                <img src="images/upgrades/flame.jpg" alt="flame upgrade">
            </div>
            <a href="#" class="option-link">Flame Decales</a>
        </div>
        <div class="upgrade-option">
            <div class="inner-option-div">
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
            </div>
            <a href="#" class="option-link">Bumber Stickers</a>
        </div>
        <div class="upgrade-option">
            <div class="inner-option-div">
                <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
            </div>
            <a href="#" class="option-link">Hub Caps</a>
        </div>
    </div>
</div>