<div class="section-1-welcome">
    <div class="section-1-content">
        <h1>Welcome to CES Motors!</h1>
        <%- messages() %>
        <img src="images/vehicles/delorean.jpg" alt="image of a delorean">
        <div class="delorean-text-box">
            <div class="delorean-text">
                <div>
                    <h2>DMC Delorean</h2>
                    <p>3 Cup holders</p>
                    <p>Superman doors</p>
                    <p>Fuzzy dice!</p>
                </div>
                <div class="btn-div">
                    <img class="delorean-btn" src="images/site/own_today.png" alt="button for delorean">
                </div>
            </div>
        </div>
    </div>
</div>