<nav class="nav">
  <%- nav %>
  <!-- <ul>
      <li><a href="/" title="CSE Motors">Home</a></li>
      <li><a href="#" title="Custom">Custom</a></li>
      <li><a href="#" title="Sedan">Sedan</a></li>
      <li><a href="#" title="SUV">SUV</a></li>
      <li><a href="#" title="Truck">Truck</a></li>
  </ul> -->
</nav>