<%- include('./index-partials/section-1-welcome') %>
<div class="reviews-upgrades">
    <%- include('./index-partials/section-2-reviews') %>
    <%- include('./index-partials/section-3-upgrades') %>
</div>
