body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Fundo xadrez */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #000000 25%, transparent 25%, transparent 50%, #000000 50%, #000000 75%, transparent 75%, transparent);
    z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

.container {
    width: 90%; /* Largura do contêiner */
    max-width: 600px; /* Limita a largura máxima */
    margin: 50px auto; /* Centraliza o contêiner e adiciona margem superior */
    background-color: #ffffff; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

h1 {
    text-align: center;
    font-size: 2.5em; /* Aumenta o tamanho da fonte para destaque */
    margin: 0;
}

form {
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
}

form div {
    margin-bottom: 15px; /* Espaço entre os campos */
    display: flex; /* Usa flexbox para alinhar rótulos e entradas */
    flex-direction: column; /* Alinha rótulo e campo de entrada em coluna */
}

label {
    margin-bottom: 5px; /* Espaçamento entre o rótulo e o campo */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%; /* Faz com que todos os campos ocupem 100% da largura do contêiner */
    padding: 10px; /* Adiciona preenchimento ao campo de entrada */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
}

button {
    background-color: #00bfff; /* Cor do botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 10px;
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

button:hover {
    background-color: #0099cc; /* Cor do botão ao passar o mouse */
}

p {
    margin: 0; /* Remove margens padrão do parágrafo */
}
input[type="checkbox"] {
    width: auto; /* Permite que a largura da caixa de seleção seja automática */
}
