* {
  box-sizing: border-box;
}

input:required:invalid, input:focus:invalid {
  background-color: rgb(255, 242, 242);
  border: none;
  outline: 0.5px solid rgb(255, 94, 94);
  border-radius: 5px;
}

input:required:valid {
  background-color: ivory;
  outline: none;
}
 

body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 1.5em;
}

#wrapper {
  border: none;
  border-radius: 0;
  width: 100%;
  min-height: 1000px;
  margin: 0 auto;
  margin-top: 0;
}

main {
  max-width: 100%;
  background-color: #fff;
  padding: 8px;
  display: block;
}

h1 {
  margin-top: 16px;
  font-size: 1.1em;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

h2 {
  font-size: 1em;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */
header {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.siteName a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-bottom: 1.2em;
}

#tools a {
  text-decoration: none;
  font-size: 0.6em;
  color: black;
}

/* navigation */
nav {
  clear: both;
  font-size: 0.6em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #111;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}

nav li a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

/* main */
.delorean-text-box {
  position: absolute;
  top: 70px;
  left: 15px;
  min-height: 250px;
  min-width: 100%;
}

.delorean-text {
  background-color: rgba(255, 255, 255, 0.6);
  width: 180px;
  font-size: 0.8em;
  line-height: 1.3em;
}

.section-1-welcome {
margin-top: 25px;
}

.section-1-text-content {
  max-width: 100vw;
  margin: 0 auto;
}

.section-1-welcome h1 {
  margin-bottom: 1em;
}

.section-1-welcome h2 {
  font-weight: 800;
  color: #4c96d7;
}

.delorean-text {
  color: #4c96d7;
}

.section-1-content {
  display: block;
  position: relative;
}

.section-1-content > img {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
}

.delorean-btn {
  max-width: 60%;
}

.section-2-reviews {
  padding: 0.5em;
}

.section-2-reviews ul {
  margin-left: 2em;
  list-style-type: disc;
  font-size: 0.8em;
  line-height: 1.8em;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.section-3-upgrades {
  padding: 0.5em;
  max-width: 100%;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.upgrade-option {
  width: 45%;
  padding: 0.5em;
  text-align: center;
}

.inner-option-div {
  border: 1px solid #000;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background-color: #4c96d7;
}

.inner-option-div img {
  height: 2.5em;
  margin: 0 auto;
}

.option-link {
  display: inline-block;
  font-size: 0.8em;
}

/* main inventory */
#inv-display {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#inv-display li {
  margin: 5px;
  margin-top: 22px;
  padding: 12px;
  min-width: 275px;
  max-width: 30%;
  border-right: 0px solid #999;
  border-bottom: 1px solid #999;
}

#inv-display li a {
  display: flex;
  justify-content: center;
}

#inv-display li a img {
  display: block;
}

.namePrice h2 a {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
  text-decoration: none;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: black;
}

.namePrice h2 a {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
  text-decoration: none;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: black;
}

.namePrice span {
  display: block;
  text-align: center;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: darkgreen;
  margin-top: 12px;
}

/* inventory details */
#inv-item-detail {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-img, .general-information {
  max-width: 90%;
  margin-bottom: 18px;
}

.detail-img img {
  max-width: 100%;
}

.general-information p {
  padding: 12px;
}

.general-information h3 {
  margin-bottom: 16px;
  font-weight: 800;
}

.general-information p {
  font-size: 0.8em;
}

.general-information p span {
  font-weight: 800;
}

.general-information p:nth-child(even) {
  background-color: #eee;
}

.notice {
  list-style-type: circle;
  color: rgba(189, 0, 0, 0.897);
  width: 100%;
  background-color: white;
  padding: 10px;
}

.notice li {
  font-size: 0.7em;
  margin: 16px;
  width: 100%;
}

/* login / register */
.login-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-div {
  border-radius: 12px;
  margin-top: 20px;
  padding: 18px;
  width: 90%;
  max-width: 590px;
  background-color: #4c96d7;
}

.account-label {
  font-size: 0.6em;
  color: white;
}

.no-account {
  font-size: 0.6em;
  margin-bottom: 8px;
  color: white;
  width: 180px;
  text-align: center;
}

.no-account a {
  color: white;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#account-form button {
  border-radius: 15px;
  padding: 4px;
  width: 80px;
  border: none;
  background-color: white;
  margin: 12px;
  font-weight: 800;
}

#account-form input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  margin-top: 6px;
}

#pw-span {
  font-size: 0.5em;
  color: white;
}

/* footer */
footer {
  font-size: 0.8em;
  padding: 8px;
}

.copyright {
  margin: 7px;
}

/* large view */
@media only screen and (min-width: 37em) {
  body {
      background-image: url("../images/site/checkerboard.jpg");
      background-repeat: repeat;
      background-size: 40%;
  }

  #wrapper {
    border: #4c96d7 solid 5px;
    border-radius: 8px;
    width: 94%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 22px;
    background-color: #fff;
  }

  nav {
      font-size: 1em;
  }

  .section-1-desc h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
  }

  .section-1-desc h2 {
      font-size: 1.2em;
      font-weight: 800;
  }

  .reviews-upgrades {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .section-2-reviews {
    max-width: 48%;
    margin-top: 30px;
    display: block;
  }

  .section-3-upgrades {
    max-width: 48%;
    margin-top: 30px;
    display: block;
  }

  #inv-display li {
    margin: 5px;
    margin-top: 22px;
    padding: 12px;
    min-width: 275px;
    max-width: 30%;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }

  /* inventory details */
  #inv-item-detail {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .detail-img, .general-information {
    max-width: 48%;
    margin-bottom: 18px;
  }

  footer {
      font-size: 0.7em;
      display: block;
      width: 100%;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
